*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
img{
    max-width: 100%;
}
header{
    background-color: #495FC2;
    height: 5vh;
    position: fixed;
    width: 100%;

}
nav{
    margin-top: 2%;
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
}
nav div{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-left: 2%;
}
nav div a{
    margin-left: 20px;
}
header a{
    text-decoration: none;
}
.botonH{
    background-color: #495FC2;
    color: white;
    border-radius: 10px;
    padding: 1%;
}
.botonH:hover{
    background-color: white;
    color: #495FC2;
    border: 1px solid #495FC2;
    border-radius: 10px;
    padding: 1%;
}
header input{
    padding: 20px;
    border-radius: 20px;
    margin-right: 10px;
}
header form{
    display: flex;
    margin-right: 2%;
}
header button{
    padding: 0px 30px;
    background-color: #FFC800;
    border-color: #FFC800;
    border-radius: 10px;
}
#s1{
    padding-top: 1%;
    background-image: url(./img/fondo\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
}
#s1>div{
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.342);
    text-align: center;
}
#s1>div>div:nth-child(1){
    padding-top: 4%;
}
#s1>div>div:nth-child(2){
    display: flex;
    justify-content: space-around;
    height: 60vh;
    align-items: center;
}
#s1>div>div:nth-child(2)>a{
    background-color: transparent;
    border-color: transparent;
}
#s1>div>div:nth-child(2)>a:hover>svg>path{
    background-color: transparent;
    border-color: transparent;
    fill: #495FC2; 
    stroke: white;
}
#s1>div>div:nth-child(2)>div{
    h2{
        margin-top: 10%;
    }
    a{
        background-color: #495FC2;
        border-color: #495FC2;
        padding: 5px 0px;
        border-radius: 10px;
        margin: 20%;
        text-align: center;
        display: flex;
        justify-content: center;
        
    }
}
#s1>div>div:nth-child(2)>div>a:hover{
    background-color: white;
    border-color: white;
    svg>path{
        fill: #495FC2;
    }
}

#s1 form{
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8%;

    input:nth-child(1){
        margin-right: 5%;
        padding: 20px 150px;
        border-radius: 10px;
        border-color: #495FC2;
    }
    input:nth-child(2){

        padding: 20px 40px;
        border-radius: 10px;
        background-color: #495FC2;
        border-color: #495FC2;
        color: white;
    }
}
#s2{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#s2>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#s2>div>h3{
    padding-left: 1%;
}

#s3{
    padding-top: 10%;
    background-image: url(./img/fondo\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    >div{
        margin-top: 2%;
        background-color: rgba(255, 255, 255, 0.600);
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    >div>div:nth-child(1){
        display: flex
;
        justify-content: space-between;
        height: 5vh;
        
        margin-left: 15%;
        margin-right: 15%;
        >p{
            background-color: #FFC800;
            padding: 10px;
            color: #495FC2;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }
}
.boton-lupa{
    background-color: #FFC800;
    padding: 10px;
    color: #495FC2;
    border-radius: 10px;
    >svg{
        height: 3vh;
    }
}
.boton-lupa:hover{
    background-color: #495FC2;
    padding: 10px;
    border-radius: 10px;
    >svg{
        height: 3vh;
        >path{
            fill: #FFC800;
        }
    }
}
.b{
    margin-left: 14%;
    margin-right: 14%;
    padding-top: 2%;

    .container {
        background: #495FC2;
        color: white;
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    
    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 50px;
        color: white;
    }
    .buscador-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .grupo {
            margin-bottom: 15px;
        }
        
        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: white;
        }
        
        input, select {
            width: 100%;
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
        }
        
        input:focus, select:focus {
            border-color: #495FC2;
        }
        
        .busca2 {
            background: #FFC800;
            color: #495FC2;
            border: none;
            padding: 0px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            transition: background 0.3s ease;
        }
        
        .busca2:hover {
            background: #495FC2;
            color: #FFC800;
        }
    }
}


.ba1{
    background-color: #495FC2;
}


#s4{
    .mapa {
        display: flex;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 14%;
        margin-right: 14%;
        border: 5px solid white;
    }
    
}
/* Estilos de Hoteles */
#s5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .hotel-casilla {
        width: 73%;
        display: flex;
        flex-wrap: wrap;
        background-color: #d6e4ff;
        border-radius: 10px;
        border: 3px solid #ffd700;
        padding: 20px;
        margin-bottom: 20px;
        align-items: center;
    }
    
    .hotel-casilla img {
        border-radius: 10px;
        margin-right: 20px;
        object-fit: cover;
    }
    
    .hotel-info {
        width: 70%;
        flex-grow: 1;
    }
    
    .hotel-info h2 {
        margin: 0;
        font-size: 20px;
    }
    .hotel-info p {
        font-size: 14px;
        margin-top: 10px;
    }
    .rating {
        font-weight: bold;
        background-color: white;
        padding: 5px 10px;
        border-radius: 5px;
        display: inline-block;
        margin-top: 10px;
    }
}
#s6{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    >div{
        width: 90%;
        margin-bottom: 1%;
    }
    >div:nth-child(1){
        width: 60%;
        
    }
    >div:nth-child(2){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        >article{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 5%;
            border: 5px solid #FFC800;
            border-radius: 10px;
            background-color: #d6e4ff;
            padding: 1%;
            >h2{
                margin: 5%;
                width: 100%;
            }
            >a{
                margin-bottom: 5%;
            }
        }

    }
    .texto{
        text-align: center;
        color: black;
        font-weight: bold;
        background-color: #d6e4ff;
        padding: 40px;
        border: 5px solid #FFC800;
        border-radius: 10px;
    }
}

#s7{
    display: flex;
    padding-top: 6%;
    justify-content: center;
    background-image: url(./img/fondo\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-bottom: 15%;
    .search-section {
        background-color: #007bff;
        padding: 40px;
        color: white;
    }
    
    .search-section h2,
    .search-section h3 {
        text-align: center;
    }
    
    .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 21px;
    }
    
    .form-row label {
        width: 40%;
    }
    
    .form-row input {
        width: 50%;
        padding: 10px;
        border-radius: 5px;
        border: none;
    }
    
    .submit-btn {
        background-color: #ffcc00;
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #495FC2;
    color: white;
    
    >p{
        width: 30%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    div>img{
        width: 15%;
    }
    >div{
        margin-top: 5%;
    }
    >div>div>div{
        margin-top: 5%;
    }

}
