*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
header{
    background-color: #495FC2;
    height: 20vh;
}
nav{
    margin-top: 3.5%;
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
nav div{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-left: 2%;
}
nav div a{
    margin-left: 20px;
}
header a{
    text-decoration: none;
}
.botonH{
    background-color: #495FC2;
    color: white;
    border-radius: 10px;
    padding: 1%;
}
header input{
    padding: 20px;
    border-radius: 20px;
    margin-right: 10px;
}
header form{
    display: flex;
    margin-right: 2%;
}
header button{
    padding: 0px 30px;
    background-color: #FFC800;
    border-color: #FFC800;
    border-radius: 10px;
}
#s1{
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#s1>div:nth-child(1){
    width: 21%;
    text-align: center;
    margin-bottom: 4%;
}
#s1>div:nth-child(2){
    width: 80%;
    display: flex;
    justify-content: space-around;
}
#s1>div:nth-child(2)>button{
    background-color: white;
    border-color: transparent;
}
